@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: url(../src/assets/bg-shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.drak-6 {
  color: #FFFFFF99;
}